<div class="container-fluid bg-dark m-0" style="height : 85vh">
     <div class="row justify-content-center align-items-center text-white" style="height : 70vh">       
        <div class="col-auto mt-5">
           <button  class="btn btn-info"><a href="/admin/categorias" class="btn btn-info">Categorias ABM</a></button>
            <button class="btn btn-info"><a href="/admin/productos" class="btn btn-info">Productos ABM</a></button>
            <button class="btn btn-info"><a href="/admin/usuarios" class="btn btn-info">Usuario ABM</a></button>
            <button class="btn btn-info"><a href="/admin/empleados" class="btn btn-info">Empleados ABM</a></button>
        </div>
    </div>
</div> 

