<div class="container"  style="height : 78vh">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-danger text-center">ESTA DIRECCION NO EXISTE</h1>
        </div>
         <div class="row col-12 justify-content-center align-items-center">
            <img src="https://www.e-zigurat.com/innovation-school/wp-content/uploads/sites/5/2019/01/404gif-1.gif" class="mt-2" style="width:66%; height:50vh">
        </div>
        <div class="col-7 d-grid gap-2">
            <a href="/" class="btn btn-warning mt-3">Volver a home</a>
            <a href="/login" class="btn btn-info mt-2">Iniciar sesion</a>
        </div>
    </div>
</div>