<!DOCTYPE html>
<html>
  <head>
    <title>{{ChurroRaz}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/11784ca1ad.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--navber-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ChurroRaz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=".justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Registrate/Inicial Session</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="contacto">Contacto</a>
        </li>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" style="height: 5vh;">
            <button class="btn btn-light mt-0" type="submit" style="height: 5vh;"><i class="fas fa-search"></i></button>
        </form>
       </ul>
    </div>
  </div>
</nav>

<body class="bg-dark">
     {{{body}}}    
</body>


 <!--Footer-->
<div class="container-fluid mt-1">
    <div class="row justify-content-center align-items-center">
    <footer class="col-auto footer text-light">
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href="" target="blank"><i class="fab fa-instagram-square"></i></a>
        Hecho por: Naikis
    </footer>
    </div>
</div>

<!--js-->
 <script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/templatemo_script.js"></script>
