<div class="container-fluid bg-dark">
     <div class="row justify-content-center align-items-center" style="height : 85vh">
        <div class="col-4">
            <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre: {{producto.nombre}}</h5>
                <p class="card-text">Categoria: {{producto.nombreCategoria}} </p>
                <a href="/productos/buy/{{id}}" class="btn btn-success">COMPRAR <i class="fas fa-shopping-cart"></i></a>
                <a href="/productos" class="btn btn-primary">Volver a los productos</a>
            </div>
        </div>
    </div>
</div>