<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-danger text-center">NECESITAS SER ADMINISTRADOR PARA ACCEDER</h1>
        </div>
        <div class="row col-12 justify-content-center align-items-center">
            <img src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/business/customers/401-logo-logo-transparent.png" class="mt-2" style="width:66%; height:50vh">
        </div>
        <div class="col-7 d-grid gap-2">
            <a href="/" class="btn btn-info mt-3">Volver a Home</a>
            <a href="/login" class="btn btn-info mt-2">Iniciar sesion</a>
        </div>
    </div>
</div>